<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestApp1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38259D7F1CA0933A0011C26C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38259D931CA0933A0011C26C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38259D9E1CA0933A0011C26C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
